<h1 class="allcontacts">All Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <li class="contact"><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></li>
<% end %>
</ul>