<h1 class="allcontacts">All Contacts</h1>

<div>
<% Contact.all.each do |contact| %>
  <div class="showcontact"><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></div>
<% end %>
</div>