<div class="directory" id-"mainmenu">
<p>Main menu</p>
</div>

<div class="directory">
  	<p><a href="/contacts">View all contacts</a></p>
</div>
<div class="directory">
  	<p><a href="/contacts/1000">Add a new contact</a></p>
</div>
<div class="directory">
  	<p><a href="/contacts/view">View a specific contact</a></p>
</div>
<div class="directory">
  	<p><a href="/contacts/delete">Delete a contact</a></p>
</div>
<div class="directory">
  	<p><a href="/contacts/deleteall">Delete all contacts</a></p>
</div>

