<div class="directory">
<p>Main menu</p>
</div>

<div class="directory">
  	<p><a href="/contacts">View all contacts</a></p>
</div>
<div class="directory">
  	<p><a href="/contacts/new">Add a new contact</a></p>
</div>

