<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
		<title>CRM</title>
	</head>
	<body>
		<header> 
			<h1><a href="/">CRM by Colin Grenville</a></h1>
		</header>

		
			<%= yield %>


		<footer>
			<h2> Contact: colingrenville0@gmail.com </h2>
		</footer>

		
	</body>
</html>