<div  class="allcontacts" id="createnew"><h1>Create new Contact</h1></div>

<form action="/contacts" method="post">
  <div class = "contact" id="new">First Name: <input type="text" name="first_name"></div>
  <div class = "contact" id="new">Last Name: <input type="text" name="last_name"></div>
  <div class = "contact" id="new">Email: <input type="text" name="email"></div>
  <div class = "contact" id="new">Notes: <input type="text" name="note"></div>
  <input type="submit" name="Submit">
</form>