<div  class="allcontacts"><h1>Create new Contact</h1></div>

<form action="/contacts" method="post">
  <div class = "contact" id="new"><input type="text" name="first_name"></div>
  <div class = "contact" id="new"><input type="text" name="last_name"></div>
  <div class = "contact" id="new"><input type="text" name="email"></div>
  <div class = "contact" id="new"><input type="text" name="note"></div>
  <input type="submit" name="Submit"></div>
</form>