* {
	font-family: 'Noto Sans', sans-serif
}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #CCE3F5;
} 

header {
	background-color: #319FF4;
	border: 0px solid transparent;
	border-radius: 10px;
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-family: 'Noto Sans', sans-serif, 36px;
	color: #040033;
	text-align: center;
}

#mainmenu {
	height: 50px;
	background-color: green;	
	line-height: 50px;
}


.directory {
	height: 80px;
	width: 100%;
	line-height: 80px;
	border-radius: 10px;
	position: relative;
	display: block;
	text-align: center;
	
	/* font work */

	font-family: 'Noto Sans', sans-serif, 24px;
	color: white;
	font-weight: bold;
	

	/* background */
	background: #014464; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853)); 
}

footer {
	background-color: #319FF4;
	border: 0px solid transparent;
	border-radius: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: 'Noto Sans', sans-serif, 10px;
	color: #040033;
	text-align: center;
}

.contact {
	height: 40px;
	width: 95%;
	line-height: 40px;
	border-radius: 10px;
	position: relative;
	display: block;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;	
	/* font work */

	font-family: 'Noto Sans', sans-serif, 16px;
	color: white;
	font-weight: bold;
	background-color: blue
}

#allcontacts {
	height: 60px;
	width: 100%;
	line-height: 60px;
	border-radius: 10px;
	position: relative;
	display: block;
	text-align: center;
	margin-top: 5px;

	/* font work */

	font-family: 'Noto Sans', sans-serif, 16px;
	color: white;
	font-weight: bold;
	background-color: cadetblue;
}

.submit {

	margin-left: auto;
    margin-right: auto;
}