/* Setting attributes for whole document */
* {
	font-family: 'Noto Sans', sans-serif;
	margin: 5px;
	/*float: center;*/
	margin-left: auto;
	margin-right: auto;
}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #CCE3F5;
} 

header {
	background-color: #319FF4;
	border: 0px solid transparent;
	border-radius: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	line-height: 100px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 4vmin;
	/*color: #040033;*/
	text-align: center;
}

/* Front Page Buttons */
.directory {
	height: 80px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	line-height: 80px;
	border-radius: 10px;
	text-align: center;
	
	/* font */
	font-family: 'Noto Sans', sans-serif;
	font-size: 4vmin;
	color: white;
	font-weight: bold;
	

	/* background */
	background: #014464; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853)); 
}

footer {
	background-color: #319FF4;
	border: 0px solid transparent;
	border-radius: 10px;
	width: 98%;
	height: 40px;
	line-height: 40px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 3vmin;
	color: white;
	text-align: center;
}


/* Button Layout for show all contacts page */
.contact {
	height: 40px;
	width: 95%;
	line-height: 40px;
	border-radius: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* font */

	font-family: 'Noto Sans', sans-serif, 16px;
	color: white;
	font-weight: bold;
	background-color: DeepSkyBlue;
}

/* button layout for showing all contacts */
.showcontact {
	height: 40px;
	width: 95%;
	line-height: 40px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 5px;	
	/* font work */

	font-family: 'Noto Sans', sans-serif;
	font-size: 2vw;
	color: white;
	font-weight: bold;
	background-color: #004BA1;
}

.allcontacts {
	height: 60px;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	line-height: 60px;
	border-radius: 10px;
	/*position: relative;*/
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;

	/* font work */

	font-family: 'Noto Sans', sans-serif;
	font-size: 6vmin;
	color: white;
	font-weight: bold;
	background-color: cadetblue;
}

#edit {
	background-color: #3366CC;
}

/*#new {
	background-color: #3333CC;
}*/

#notes {
	height: 20px;
	margin-bottom: 0px;
	line-height: 20px;
	background-color: #7491B3;
}

#notetext {
	margin-top: 0px;
}

#createnew {
	font-size: 4vmin;
}

input[type="submit"] {
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	width: 95%;
	line-height: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 2vmin;
	color: white;
	font-weight: bold;
	background-color: red;
	border: 0px transparent;
	border-radius: 5px;
}